<!-- <banner></banner>  -->

<div layout="row" layout-align="center"></div>
<div>
  <md-button class="md-primary md-raised" ng-click="updateAll()">Update</md-button>
</div>

<div>
  <md-button class="md-primary md-raised" ng-click="getRandom()">Random</md-button>
</div>



<div ng-cloak>
  <div id="owl-demo" class="mt-home-gallery">

  <div class="mt-home-gallery-item" ng-repeat="photo in slidePhotos" >
    <img ng-src="{{photo.thumbSrc}}" alt="Image">
  </div>

<!--   <div class="item"><img src="https://s3-us-west-2.amazonaws.com/ztf/thumbnail-upload-img-43a569f2.jpg" alt="Owl Image"></div>
    <div class="item"><img src="https://s3-us-west-2.amazonaws.com/ztf/thumbnail-upload-img-43a569f2.jpg" alt="Owl Image"></div>
      <div class="item"><img src="https://s3-us-west-2.amazonaws.com/ztf/thumbnail-upload-img-43a569f2.jpg" alt="Owl Image"></div>
        <div class="item"><img src="https://s3-us-west-2.amazonaws.com/ztf/thumbnail-upload-img-43a569f2.jpg" alt="Owl Image"></div> -->


  </div>


</div>




<!-- <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Welcome</span>
    </h2>
  </md-toolbar>
<md-content>
    <md-list>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
          <h3>who</h3>
          <h4>what</h4>
          <p>where</p>
        </div>
        <md-button class="md-secondary">Respond</md-button>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
          <h3>who</h3>
          <h4>what</h4>
          <p>where</p>
        </div>
        <md-button class="md-secondary">Respond</md-button>
        </md-list-item>
          <md-divider></md-divider>
        <md-list-item>Third</md-list-item>
    </md-list>

</md-content>